language: python
python:
- '2.7'
install:
- pip install -r requirements.txt
script:
- cd roles/db
- molecule create
- molecule converge
- molecule verify
after_script:
- molecule destroy
env:
  matrix:
  - GCE_CREDENTIALS_FILE="$(pwd)/credentials.json"
  global:
  - secure: JQntRnXBIVDc5n8vUcc6xGXkohH5Xzg0TzbfBJm+vTp4p9LIH5r/ih5WEKx/ShZfHqNSDo1BX6Febn2hVTvU+xE3zvmXmzTmuH38KTLyqhmk0bjCm2VbJm0tQ0l6mwEE4Ot8SDzknmFITP0CgMv2HOtAMMHtshBDIrvZsQOpo1KHYmd/HiakyAmsZ9GSLxVNeSc056KYiZ78GpZf37uG++Myo9DNpLvSDrMw1HpY32HLZLAh2+3/nbH0rF1+9rqT0R8KYmRicKfoUT1cX094DJrv8ZMqP0a/2EUwHJtPw3HWdVWe+zTJhGsH6ZjHVFPMVRgNfrFDzRikDFagqCxuJzi4QEGwTQrUXkapqc8jkcAf06qm2THyvjjmePYAD1EPImpdGwuWfseVW+z+MbjSqbJoXe9WOgjzoeckNPPAHHyEs1plVbo/1n7ljzdeKTigjfxIUAHz7XvU+VbcwMnyDNngNv82p32BQbGjNSvhQG0ldotu9bDSB8BI8nZrlch2A4u/Uf08KJHeArKqX0SPtPofIZ7YXqfatxQvajtgHftQT2xEcUfIokcq1F0uE3RPGckFqRk8xPvrpRLanbDZIQj6SiypGKBJUnj58T/CMB/jk9MhKsPDZy1byGidXj8aPj3qeAjUZ+fxeurRfHeTTfNGuY+/Mrl6Zj3uf8PG99s=
  - secure: Cm4P9h3IJ7hCIGV+V4LD1xjwGe9boMZB59l9NouJDq+HsyfiL1BY4n/8YcOJr2357ce+ffTz+j8ZuTGIWxsjOkncNd27Aq9DLLZqWIQgeS1IEBWzNUAjG5pjUnkHeluziD0GKvmQCu8GtHaoNbh48w9cHMVvFqkHUmfJ29pHwHkzkq3qazkY2/9FL1oLp7tOmVOFIXOnJcvrvFqawOty/iQRRxoAUXQZR+0iYJaEGSYk19XwGgmldMx/wifya5HvNBQFXQcX2wBC4p93VQZrCjiqoRwXImlrulMKjeQOaJgNA4yr/t8AZZWu2gbG4Ci/bMJ0so+FkFl3inYRssY8rsjX9FPs33Ivz3YQROKEnG2r1XMzreg/931weIn8eWbhZ7Leb4A42omNttVYLpwpjSM3ljMjH5QNSIJs3K/bpvB0HAebnxCzoUOk89/dAcRLRIS2X++nCVZS2Uxe1g59ifAqd2hgv+ns9CUfbaBK5AayzBkpQ66K0TpBAnD7rCrLOIuR57Tfj23iz0Vph54ILddGW690NBpSd4Q5pup14TDTBamneXnpembJ9JIae0NZpIF/TisN6L/kjZwdIcGbWcC6Im884/50GKs27qAR6TFG8T0h+YrMRjlSyfnj3wZwuNc7vIxeZjIX26E+fW56jK3/HHSQ3ZYc9lTvCUAx0+M=
  - secure: jRvORj0wkuslA/O1SLVXE97qS/jAAlTLjmZPShbPh6v/Ed9Hj2xwQRYyxGJ5IZAzzJqBYc7mbX5hFiz7CSQbimtqyr4W0nauPPw1YIpthV+dBj6Nr2ikFtTIXU5v33CEp+ZNfZ5cMKB6LK69oGfwI0qUk/PBTDjQI0ujlamiclrk6V9zQohbohXC13UBgDBHlGFjqoXD2TBJbRCqaQqRovxRYhWbCI7vD+oGGPJOOFSlwnpwA4s2tH6TqEupfOPb4ZfukKXJ+C1iUYeYiGhI4u1bjQTkQWnBaPygHLx5MEg6b6mS/ipVwGlQSy+3wcnAoGVe8Fyzn1DevuUq21jj1S0NkuFMhMEtau20VxcjVRMX4nhzjBxRC7/wjj8HLq1vyxU6JicbfXg/vl15nObDvil9GQZnOond9B/Iai/h0mfIYAalZBUAU/vAM9BjMEAdy+mvn6BacrL1y/T0ZmVMu4ok+/bePCWdWhNb0lpYkuzU7XMVkKJS8wCD+V6zHyB/HbEMnhaB+6nhDSaQHNgK+6xACeeBa7J0Ahh2D6vJdaiFqS90V+CpsQpjRLz3ixJGn+Q31KboK7DYP7g8AJJrdofyVQn96HvAMCJc69JkFvfbJeacreheWKRg+/njJT9qqC6k1/xys4kkDZsvgT9UNdf0T/gi5Xmo3FKC/pgGvgA=
before_install:
- openssl aes-256-cbc -K $encrypted_3b9f0b9d36d1_key -iv $encrypted_3b9f0b9d36d1_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- mv google_compute_engine /home/travis/.ssh/
- chmod 0600 /home/travis/.ssh/google_compute_engine
notifications:
  slack:
    rooms:
      secure: R0FwaWuytHLi94mv6Ar7oXJrdHh6/FdT3ZmWGxKUnU+rEVoadev6AYogu8sM6snHfUdegFwznKzSxNpYKLNO/1KhcomhbnmZ3cqNI+QTIz3LOT29/K6bwSZgYPNrF28OHf69VbO7UmQJEJZR6kgy9qeKx9N9LjbehmFVUJWDqwMzSrxxCZm4Aqbvtat4pIjGqMxBbbhmJRK18XVVyHQ9hPd1cGvbyGgSBzqTCZthhaRwgkiSTplmXxqdU9z+j8659059CGbJrxBnAq16Acu6rzrue2RKCmbY6rEaL8fhrCcXNUy65c+RW4wFsIyff/AwC3iE1eOl/mLDCDlFRv9mG+e+kZLh3xB9iiqd+H9L8pfWLrpP3dJYIjk3g+nId8uC7d7FFlK2fwsgZ49FwC5zeDCb52xPcl9gee3mbYIzkukvtaMVSfGi5zmj97/mFxk2Aj8p8+VjNZzG2rvVFwHUegeLgbiH9yn+nrRTHRd7AAqOaF4Fzx9eaZ4jP/0xhBp0wiwzU61uvJK17xrqzZEh2NcaNLPkbkzWoI//oVVIBbQrYspVfR0femCspe4i5gfpwD2PFnxM1oOetcOGfPJhlYUcqih15FODBiplgIpwOFO48FB0w2jLdlquiFxA5ZXkx6aMaCG09T/jJjU7WKOn9C2cXLigUO8Ht3Sv0rB5Tqg=
