project = "your_project_id"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
public_keys = [
  "appuser:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOEvRdLxaLxTzPFSS0YwqD53EErEYCmwyqvFsUhaTJuD6hP1OwOr0QUB5Nfq0a2OEn4evrEsWTFB1lJwkSz4QaSJqrv7TrMPwF2sijxiZLkb9yZDrhUUfO4l1jELiEt4ObeeFH++UEcSit8ZbkJYZkj4UmI5viMp3Wgzb5gzaaJJC5dvY3Ba5q+NIoJPZoTqI3CmSPsLDbUs47nQS9jFHLnfj8HKucS2cCSM7WvxHzgP2gFvUKM04LD3P2WpdkQKpYFmBsfAEcfRSKKNMSDVpf1/g0tnr8OVYX7VhohRE5HrIooGlbtuOS6KF2OyplJLr6IwEjkcDZYl06lzBqO+MSUPcAeVTzDWh3FNVDgj7TE31ZLrusPacEHFuVSfJ09n/2990ODqNJuxoaZOwlMIH9FvH/vYsIydqstWz0szNuOIfZH4Hok628P5yZByHkWMr6yazNJCezffsEApqHaGXMgNN44aHYFgZw1LLEiMOkqZuMgihPvMVq7aLYRdyS1HE= appuser",
  "appuser1:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOEvRdLxaLxTzPFSS0YwqD53EErEYCmwyqvFsUhaTJuD6hP1OwOr0QUB5Nfq0a2OEn4evrEsWTFB1lJwkSz4QaSJqrv7TrMPwF2sijxiZLkb9yZDrhUUfO4l1jELiEt4ObeeFH++UEcSit8ZbkJYZkj4UmI5viMp3Wgzb5gzaaJJC5dvY3Ba5q+NIoJPZoTqI3CmSPsLDbUs47nQS9jFHLnfj8HKucS2cCSM7WvxHzgP2gFvUKM04LD3P2WpdkQKpYFmBsfAEcfRSKKNMSDVpf1/g0tnr8OVYX7VhohRE5HrIooGlbtuOS6KF2OyplJLr6IwEjkcDZYl06lzBqO+MSUPcAeVTzDWh3FNVDgj7TE31ZLrusPacEHFuVSfJ09n/2990ODqNJuxoaZOwlMIH9FvH/vYsIydqstWz0szNuOIfZH4Hok628P5yZByHkWMr6yazNJCezffsEApqHaGXMgNN44aHYFgZw1LLEiMOkqZuMgihPvMVq7aLYRdyS1HE= appuser1",
  "appuser2:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOEvRdLxaLxTzPFSS0YwqD53EErEYCmwyqvFsUhaTJuD6hP1OwOr0QUB5Nfq0a2OEn4evrEsWTFB1lJwkSz4QaSJqrv7TrMPwF2sijxiZLkb9yZDrhUUfO4l1jELiEt4ObeeFH++UEcSit8ZbkJYZkj4UmI5viMp3Wgzb5gzaaJJC5dvY3Ba5q+NIoJPZoTqI3CmSPsLDbUs47nQS9jFHLnfj8HKucS2cCSM7WvxHzgP2gFvUKM04LD3P2WpdkQKpYFmBsfAEcfRSKKNMSDVpf1/g0tnr8OVYX7VhohRE5HrIooGlbtuOS6KF2OyplJLr6IwEjkcDZYl06lzBqO+MSUPcAeVTzDWh3FNVDgj7TE31ZLrusPacEHFuVSfJ09n/2990ODqNJuxoaZOwlMIH9FvH/vYsIydqstWz0szNuOIfZH4Hok628P5yZByHkWMr6yazNJCezffsEApqHaGXMgNN44aHYFgZw1LLEiMOkqZuMgihPvMVq7aLYRdyS1HE= appuser2"
]
countIns = 2
