project = "your_project_id"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
public_keys = [
  "user1:<key user1>",
  "user2:<key user2>"
]
countIns = 2
